## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=2
print (x)

2

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [4]:
y= "Orlando"
print(y)

Orlando

5) Crear una variable que contenga un número complejo

In [8]:
a= 6+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(a)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi= 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
V1="True"
V2= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(" La variable 1 es de tipo ", type(V1)," y la variable de 2 es de tipo ", type(V2))

 La variable 1 es de tipo  <class 'str'>  y la variable de 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma= 2+2.9

11) Realizar una operación de suma de números complejos

In [22]:
complejo1= 3 + 8j
complejo2 =5 + 2j
print(complejo1+complejo2)

(8+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [26]:
print(pi+a)

(9.1416+2j)

13) Realizar una operación de multiplicación

In [24]:
c=8*5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:
d=2**8
print(d)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [27]:
a=27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
b=27//4
print(b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
print((4*6)+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
Var1 = "Soacha"
Var2 = ",Cundinamarca"
print(Var1+Var2)

Soacha,Cundinamarca

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
2=="2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:
2== int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
a=float('3.8') # porque al tener la coma no reconoce el número como un decimal

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
a=3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [48]:
2+'2' # al estar entre comillas el 2 se toma como si fuera un texto lo que hace que el 
#valor ya no se reconozca como númerico.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [47]:
a=2
b= 'Manzanas'
print(b * a)

ManzanasManzanas